#model checkpoints
checkpoints/

#python environment
myenv/

#mac
*.DS_Store*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#ignore notebooks used to train model
training_notebooks/predictions.ipynb
training_notebooks/explore_architecture.ipy
